*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vh;
}
html{
    background-color: antiquewhite;
}
.box{
    width: 20vw;
    height: 60vh;
    box-shadow: 0 0.2rem black;
    background: cadetblue;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
}
.wave{
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left:50%;
    background: cornsilk;
    width:50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave -three{
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave-two{
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
}